@import url(https://fonts.googleapis.com/css?family=VT323);
/*html { font: normal normal 16px/1.2 VT323, courier, monospace; }
* { margin: 0; padding: 0; }*/
html {
  font-size: 30px;
  font-family: VT323, courier, monospace;
}

body.index {
  /*background-color: rgb(193, 97, 223);*/
  background-image: url('media/blank3.png');
  background-repeat: none;
  background-size:auto;
}

body.opening {
  background-image: url('media/opening5.png');
  background-position:top;
}

.opening h1 {
  color: rgb(255, 191, 183);
  margin-top: 6rem;
  font-size: 3rem;

}

#players{
  margin-top: 130px;
}

p a{
  text-decoration: none;
  color: rgb(255, 191, 183);
  font-size: 2rem;
  padding-left: 40%;
  margin-top: -80px;
}

h1 {
  text-align: center;
}

table {
  text-align: center;
  height: 6rem;
  width: 40%;
  /*margin: auto;*/
}

div#tic-tac-toe {
  text-align: center;
  /*margin-left: 30%;*/
  /*margin-right: 30%;*/
}
div#tic-tac-toe {
  display:inline-block;
  /*margin-top: 50px*/
  width: 32%;
  margin: 0 auto;
}

#mario {
display:inline-block;
vertical-align: top;
/*margin-left: 20%;*/
width: 22%;
margin: auto;
margin-left: 5%;
margin-right: 5%;
}


#bad_guy {
display: inline-block;
vertical-align: top;
width: 27%;
margin-left: 3%;
/*margin-right: 5%;*/
}
span {
  color: gold;
  margin-bottom: 1rem;
}


img {
  height: 3.5rem;
  width: 3.5rem;
}

img.coin {
  height: 2rem;
  width: 2rem;
}

button.space {
  cursor: pointer;
  font-size: 1rem;
  width: 4rem;
  height: 4rem;
  /*margin: 3px;*/
  padding: 3px;
  background-color: rgba(255, 0, 0, 0.0);
  /*border: 3px solid pink;*/
  /*border-radius: 50%;*/
}

/*button:focus { outline: none; }*/

/*button.space { background-color: #3e181b; color: #db1d2d; }*/
button.space:hover { background-color: #661920; }
/*button.space:active, button.space.active { background-color: #db1d2d; }*/
